*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# ignore the maven target
*/target/**

# ignore the eclipse settings
*/.settings/**

# ignore the notCheckin folder, which can be used to store the local configuration
*/notCheckin/**

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore the eclipse project, use the maven project is enough
.project
.classpath

*/bin/**
